<p>97 Bowling Alley Lane, Boulder CO </p>
<h2>Bet You Can't Bowl A Strike Every Time</h2>
<h1>Buster's Best Bowling Alley</h1>
<!DOCTYPE html>
<html>
    <head>
        <title>Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>
