
<form action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="patch" />
  <ul>
    <li>
  <label for="new_title">Title</label>
  <input type="text" name="new_title" value="<%= @article.title %>" />
    </li>
    <li>
  <label for="new_content">Content</label>
  <input type="text" name="new_content" value="<%= @article.content %>" />
    </li>
  </ul>
  <input type="submit" />
</form>
